@font-face {
    font-family: 'BebasNeue'; 
    src: url('/fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.header-text {
    font-family: 'BebasNeue', sans-serif;
    font-size: 20pt;
    font-weight: 700;
}


.norm-text {
    font-family: 'Helvetica', sans-serif;
    font-size: 12pt;
    font-weight: normal;
}